<p id="notice"><%= notice %></p>

<h1>Batch Memberships</h1>

<table>
  <thead>
    <tr>
      <th>Batch</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @batch_memberships.each do |batch_membership| %>
      <tr>
        <td><%= batch_membership.batch %></td>
        <td><%= batch_membership.user %></td>
        <td><%= link_to 'Show', batch_membership %></td>
        <td><%= link_to 'Edit', edit_batch_membership_path(batch_membership) %></td>
        <td><%= link_to 'Destroy', batch_membership, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Batch Membership', new_batch_membership_path %>
